<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AkashicRecords_MK2</display-name>
  
   <!--컨트롤러의 역할을 하는 서블릿의 이름, 요청경로를 지정해준다.-->
  <servlet>
  	<servlet-name>CtrlAct</servlet-name>
  	<servlet-class>controller.MainCtrl</servlet-class>
  	<init-param>
  		<param-name>Cmd_Proc</param-name>
  		<param-value>C:/personalData/BRIDGE/WebServerWorkSpace/AkashicRecords_MK2/WebContent/WEB-INF/Cmd_Proc.properties</param-value>
  	</init-param>
  </servlet>
  
  <!--웹에서 요청하면 어떻게 처리할 것인지를 지정해준다.-->
  <servlet-mapping>
  	<servlet-name>CtrlAct</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>